In [1]:
##print hello world
print('hello world')

hello world

In [5]:
### ;nishanth

In [2]:
Print('hello world')

NameError: name 'Print' is not defined

In [3]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3655076990.py, line 1)

In [6]:
print(10)

10

In [7]:
print(10.5)

10.5

In [8]:
### variables
first_name =('maloth')
first_name

'maloth'

In [9]:
nishanth = ('name')
nishanth

'name'

In [10]:
_name =('maloth nishanth')
_name

'maloth nishanth'

In [11]:
+name='nishanth'
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (926687425.py, line 1)

In [13]:
### variable name should not start with number
1name='nishanth'
1name

SyntaxError: invalid decimal literal (2796976376.py, line 2)

In [14]:
name1='nishanth'
name1

'nishanth'

In [15]:
### only allowed spi char is_
first+name ='artificial'
first_name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (592530513.py, line 2)

In [16]:
first_name='nishanth'
first_name

'nishanth'

In [17]:
#### data types
x=10.5
type(x)

float

In [18]:
y=10
type(y)

int

In [20]:
z=True
type(z)

bool

In [22]:
z='true'
type(z)

str

In [23]:
z = true
type(z)

NameError: name 'true' is not defined

In [24]:
x=10
type(x)
x

10

In [25]:
x,type(x)

(10, int)

In [26]:
x,y = 10,20
y
x

10

In [27]:
x,y

(10, 20)

In [28]:
y,x

(20, 10)

In [ ]:
##dat typr conversion
1) implict = python interpreter without programing intervension
2) explict = user-defined = casting

In [5]:
name = 'maloth nishanth'
print('maloth nishanth')
type(name)
age = 19
print(age)
type(age),type(name)

maloth nishanth
19

(int, str)